@using EPiServer.Editor
@using EPiServer.Core
@using EPiServer.Web
@model IPageViewModel<SitePageData>
<section>
    <div id="flex-container-kind">
        <!--The Development Area -->
        <div id="flex-kind-left">
            <section class="flex-kind-main">
                <h3>The Development</h3>
                <p>From the initial design to the completed project, check back frequenly to see our progress.</p>
                <p>
                    <a class="btn-dev bg-light" href="contact-us/index.asp">request info</a>
                    <a class="btn-dev bg-dark" href="subscribe/index.asp">email sign-up</a>
                </p>
            </section>
        </div>
        <div id="flex-kind-flex">
            <script type="text/javascript" src="//fast.wistia.com/embed/medias/nfudlqc477.jsonp" async=""></script>
            <script type="text/javascript" src="//fast.wistia.com/assets/external/E-v1.js" async=""></script>
            <div class="wistia_embed wistia_async_nfudlqc477 popover=true popoverContent=link">
                <a href="#"> <img class="flex-kind-1a img-responsive" alt="Post Oak Digital Rendering" src="/EPiServer/CMS/Content/globalassets/en/images/images/video-rendering.jpg,,152?epieditmode=False" height="400" width="298" /> <img class="flex-kind-2a img-responsive" alt="decorative image dim" src="/EPiServer/CMS/Content/globalassets/en/images/images/video-overlay.png,,188?epieditmode=False" height="400" width="298" /><p class="t1">Property Overview</p></a>                
            </div>
            <div>
                <a href="http://oxblue.com/open/landrys/1600wloop" target="_blank"> <img class="flex-kind-1b img-responsive" alt="Construction Cam" src="/EPiServer/CMS/Content/globalassets/en/images/images/construction.jpg,,127?epieditmode=False" height="400" width="298" /> <img class="flex-kind-2b img-responsive" alt="decorative image dim" src="/EPiServer/CMS/Content/globalassets/en/images/images/video-overlay.png,,188?epieditmode=False" height="400" width="298" /><p class="t2">Construction Cam</p></a> 
            </div>
            <div>
                <a href="gallery/index.asp"> <img class="flex-kind-1c img-responsive" alt="Convention Center" src="/EPiServer/CMS/Content/globalassets/en/images/images/gallery-thumb.jpg,,421?epieditmode=False" height="400" width="298" /> <img class="flex-kind-2c img-responsive" alt="decorative image dim" src="/EPiServer/CMS/Content/globalassets/en/images/images/video-overlay.png,,188?epieditmode=False" height="400" width="298" /><p class="t3">Gallery</p></a>                
            </div>
        </div>
    </div>
</section>