@model IPageViewModel<SitePageData>
<!------------------------------ lightbox Code Here--------------------------->
<section id="catagories">
    <figure>
        <a href=@Url.Content("~/Static/img/shopping-full.jpg") data-title="Luxury Retail Options" data-lightbox="retail">
            <img src=@Url.Content("~/Static/img/thumb-shopping.jpg") class="img-circle" alt="Luxurious King Size Bed" />
        </a>
    </figure>
    <figure>
        <a href=@Url.Content("~/Static/img/bed-full.jpg") data-title="Extended Stay" data-lightbox="retail">
            <img src=@Url.Content("~/Static/img/thumb-bed.jpg") class="img-circle" alt="Picture of bed" />
        </a>
    </figure>
    <figure>
        <a href=@Url.Content("~/Static/img/bath-full.jpg") data-title="Luxury Hotel Rooms" data-lightbox="retail">
            <img src=@Url.Content("~/Static/img/thumb-bath.jpg") class="img-circle" alt="Luxury Hotel Rooms" />
        </a>
    </figure>
    <figure>
        <a href=@Url.Content("~/Static/img/boardroom-full.jpg") data-title="Luxury Meeting Options" data-lightbox="retail">
            <img src=@Url.Content("~/Static/img/thumb-boardroom.jpg") class="img-circle" alt="Boardroom" />
        </a>
    </figure>
    <figure>
        <a href=@Url.Content("~/Static/img/bed-full.jpg") data-title="Luxury Hotel Rooms" data-lightbox="retail">
            <img src=@Url.Content("~/Static/img/thumb-livingroom.jpg") class="img-circle" alt="Luxury Hotel Rooms" />
        </a>
    </figure>
</section>
<!------------------------------ END lightbox Code-------------------------------->