@model IPageViewModel<SitePageData>
<!------------------------------ carousel Code Here--------------------------->
<ul id="carousel" class="top_slider roundabout-holder">
    <li><img src=@Url.Content("~/Static/img/resort/hotel-room.jpg") alt="Hotel Room Overview" class="slide" /></li>
    <li><img src=@Url.Content("~/Static/img/resort/hotel-bathroom.jpg") alt="Hotel Bathroom" class="slide" /></li>
    <li><img src=@Url.Content("~/Static/img/resort/hotel-living.jpg") alt="Hotel Livingroom" class="slide" /></li>
</ul>
<!------------------------------ END carousel Code-------------------------------->