@model IPageViewModel<SitePageData>

<section id="hospitality-bar" class="col-md-12">
    <div class="logo-container">
        <div class="logo-item"><a href="http://www.goldennugget.com/" target="_blank"><img src="~/Static/img/logos/GN.png" alt="Golden Nugget Logo"></a></div>

        <div class="logo-item"><a href="http://www.sanluisresort.com/" target="_blank"><img src="~/Static/img/logos/SLR.png" alt="The San Luis Resort Logo"></a></div>

        <div class="logo-item"><a href="http://www.villasatsanluisresort.com/" target="_blank"><img src="~/Static/img/logos/villas.png" alt="The Villas Logo"></a></div>

        <div class="logo-item"><a href="http://www.galvestonhilton.com/" target="_blank"><img src="~/Static/img/logos/HT.png" alt="Hilton Galveston Logo"></a></div>

        <div class="logo-item"><a href="http://www.galvestonholidayinn.com/" target="_blank"><img src="~/Static/img/logos/HI.png" alt="Holiday Inn Resort Galveston Logo"></a></div>

        <div class="logo-item"><a href="http://www.kemahboardwalkinn.com/" target="_blank"><img src="~/Static/img/logos/BWI.png" alt="Kemah Boardwalk Inn Logo"></a></div>

        <div class="logo-item"><a href="http://www.westinhoustondowntown.com/" target="_blank"><img src="~/Static/img/logos/westin.png" alt="Westin Logo"></a></div>

        <div class="logo-item"><a href="http://www.thepostoak.com/" target="_blank"><img src="~/Static/img/logos/PO.png" alt="The Post Oak Logo"></a></div>
    </div>
</section>