@using EPiServer.Editor
@using EPiServer.Core
@using EPiServer.Web
@model IPageViewModel<SitePageData>
<div id="footer-container" class="clearfix">
    <section class="foot-slider-main">
        <div class="foot-col-1">
            <center><img src="~/Static/img/logos/postoak-stacked-white.png" id="logo" alt="The Post Oak logo"></center>
            <p>
                Coming Fall 2017<br />
                The luxurious Post Oak is Houston’s new premier destination for fashion, fine dining, luxury hotels, prominent office addresses and elegant high-rise living all in one tower.
            </p>
        </div>
        <div class="foot-col-2">
            <h3>About Us</h3>
            <img src="~/Static/img/tilman.png" class="left tilman" alt="Tilman J. Fertitta">
            <p>Landry’s owns and operates over 500 properties, including more than 40 unique brands, a combination of good, fresh food, unparalleled service and marvelous locations.</p>
            <a href="#">LEARN MORE</a>
            <p class="clearfix"></p>
            <p>
                Tilman J. Fertitta<br />
                Chairman, CEO and Sole Owner of Landry's, Inc.
            </p>
        </div>
        <div class="foot-col-3">
            <h3>Browse</h3>
            <ul>
                <li><a href="http://www.landrysinc.com/aboutUs/default.asp" target="_blank">About Us</a></li>
                <li><a href="/gallery/">Gallery</a></li>
                <li><a href="/press-room">Press Room</a></li>
                <li><a href="/career">Careers</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="http://www.landrysselect.com/" target="_blank">Landry's Select Club</a></li>
                <li><a href="http://www.landrysinc.com/giftcards/default.asp" target="_blank">Gift Cards</a></li>
                <li><a href="http://thepostoakhotel.fbmta.com/members/UpdateProfile.aspx?Action=Subscribe&InputSource=W">Email Sign-Up</a></li>
                <li><a href="/directions">Directions</a></li>
                <li><a href="/contact-us-page/">Contact US</a></li>
                <li><img src="~/Static/img/social/fb.png" alt="Click to visit our Facebook!"> &nbsp;<img src="~/Static/img/social/twitter.png" alt="Click to visit our Twitter!"> &nbsp;<img src="~/Static/img/social/instagram.png" alt="Click to visit our Instagram!"> &nbsp;<img src="~/Static/img/social/pinterest.png" alt="Click to visit our Pinterest!"></li>
            </ul>
        </div>
    </section>    
    <p class="clearfix"></p>
    <center id="copyright">The Post Oak &nbsp; | &nbsp; 1600 West Loop South, Houston, TX 77027 &nbsp; | &nbsp; 713-850-1010 &nbsp; | &nbsp; PostOakHotel.com &nbsp; | &nbsp; © 2016 The Post Oak</center>
</div>