@model IPageViewModel<SitePageData>

<section id="footer-navbar">
    <!------------------------------ Image Nav Code Here--------------------------->
    <header id="main-nav-header">
        <nav class="navbar navbar-custom" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>The Post Oak &nbsp; |</li>
                    <li>&nbsp; 1600 West Loop South, Houston, TX 77027 &nbsp; |</li>
                    <li>&nbsp; 713-850-1010 &nbsp; |</li>
                    <li>&nbsp; PostOakHotel.com &nbsp; |</li>
                    <li>&nbsp; &copy; 2016 The Post Oak</li>
                </ul>
            </div>
        </nav>
    </header>
    <!------------------------------ Image Nav Code End--------------------------->
</section>