@using EPiServer.Editor
@using EPiServer.Core
@using EPiServer.Web
@model IPageViewModel<SitePageData>
<div id="gallery-wrapper">
    <section>
        <div class="gallery-row">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="gallery-lg-img img hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/2.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/thumb-2.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 gallery-img-6">
                    <div class="row">
                        <div class="col-md-3 gallery-sm-img-left hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/3.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/thumb-3.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                        <div class="col-md-3 gallery-sm-img-right hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/4.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/4.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                        <div class="col-md-3 gallery-sm-img-left hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/5.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/5.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>
                        </div>
                        <div class="col-md-3 gallery-sm-img-right hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/6.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/6.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 gallery-img-12">
                <div class="row">
                    <div class="col-md-3 gallery-sm-img-bl hovereffect">

                        <a href=@Url.Content("~/Static/img/gallery/10.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                            <img src=@Url.Content("~/Static/img/gallery/10.jpg") alt="Post Oak Overview" class="img-responsive" />
                            <span></span>
                        </a>

                    </div>
                    <div class="col-md-3 gallery-sm-img-bl hovereffect">

                        <a href=@Url.Content("~/Static/img/gallery/11.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                            <img src=@Url.Content("~/Static/img/gallery/11.jpg") alt="Post Oak Overview" class="img-responsive" />
                            <span></span>
                        </a>

                    </div>
                    <div class="col-md-3 gallery-sm-img-br hovereffect">

                        <a href=@Url.Content("~/Static/img/gallery/12.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                            <img src=@Url.Content("~/Static/img/gallery/12.jpg") alt="Post Oak Overview" class="img-responsive" />
                            <span></span>
                        </a>

                    </div>
                    <div class="col-md-3 gallery-sm-img-br hovereffect">

                        <a href=@Url.Content("~/Static/img/gallery/13.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                            <img src=@Url.Content("~/Static/img/gallery/13.jpg") alt="Post Oak Overview" class="img-responsive" />
                            <span></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="gallery-row">
            <div class="row">
                <div class="col-md-6 gallery-img-6">
                    <div class="row">
                        <div class="col-md-3 gallery-sm-img-left-1 hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/14.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/14.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                        <div class="col-md-3 gallery-sm-img-left-1 hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/15.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/15.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                        <div class="col-md-3 gallery-sm-img-right-1 hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/17.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/17.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                        <div class="col-md-3 gallery-sm-img-right-1 hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/18.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/18.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="gallery-lg-img-1 img hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/19.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/19.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 gallery-img-12">
                <div class="row">
                    <div class="col-md-3 gallery-sm-img-bl hovereffect">

                        <a href=@Url.Content("~/Static/img/gallery/20.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                            <img src=@Url.Content("~/Static/img/gallery/20.jpg") alt="Post Oak Overview" class="img-responsive" />
                            <span></span>
                        </a>

                    </div>
                    <div class="col-md-3 gallery-sm-img-bl hovereffect">

                        <a href=@Url.Content("~/Static/img/gallery/21.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                            <img src=@Url.Content("~/Static/img/gallery/21.jpg") alt="Post Oak Overview" class="img-responsive" />
                            <span></span>
                        </a>

                    </div>
                    <div class="col-md-3 gallery-sm-img-br hovereffect">

                        <a href=@Url.Content("~/Static/img/gallery/22.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                            <img src=@Url.Content("~/Static/img/gallery/22.jpg") alt="Post Oak Overview" class="img-responsive" />
                            <span></span>
                        </a>

                    </div>
                    <div class="col-md-3 gallery-sm-img-br hovereffect">

                        <a href=@Url.Content("~/Static/img/gallery/23.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                            <img src=@Url.Content("~/Static/img/gallery/23.jpg") alt="Post Oak Overview" class="img-responsive" />
                            <span></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="gallery-row">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="gallery-lg-img img hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/29.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/29.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 gallery-img-6">
                    <div class="row">
                        <div class="col-md-3 gallery-sm-img-left hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/30.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/30.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                        <div class="col-md-3 gallery-sm-img-right hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/31.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/31.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                        <div class="col-md-3 gallery-sm-img-left hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/32.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/32.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                        <div class="col-md-3 gallery-sm-img-right hovereffect">

                            <a href=@Url.Content("~/Static/img/gallery/6.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                                <img src=@Url.Content("~/Static/img/gallery/6.jpg") alt="Post Oak Overview" class="img-responsive" />
                                <span></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-bottom">
        <br /><br /><h2>Property Map</h2><br /><br />
        <div class="col-md-12 gallery-img-12">
            <div class="row">
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/property-map.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/property-map.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/floor-map.jpg") data-title="Post Oak Property Overview One" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/floor-map.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-br">

                </div>
                <div class="col-md-3 gallery-sm-img-br">

                </div>
            </div>
        </div>
    </section>
    <section class="section-bottom">
        <br /><br /><h2>Hotel Suite Floor Plans</h2><br /><br />
        <div class="col-md-12 gallery-img-12">
            <div class="row">
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/double-queen-A.jpg") data-title="Double Queen" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/double-queen-A.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/king-floorplan-A.jpg") data-title="King Floor Plan A" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/king-floorplan-A.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-br hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/king-floorplan-C.jpg") data-title="King Floor Plan C" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/king-floorplan-C.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-br hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/king-floorplan-D.jpg") data-title="King Floor Plan D" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/king-floorplan-D.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-12 gallery-img-12">
            <div class="row">
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/king-floorplan-E.jpg") data-title="King Floor Plan E" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/king-floorplan-E.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/chairman-suite.jpg") data-title="The Chairman Suite" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/chairman-suite.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-br hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/suite-1br-F.jpg") data-title="One Bedroom Suite" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/suite-1br-F.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-br hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/residential.jpg") data-title="Residential Suite Floor Plan" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/residential.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
            </div>
        </div>
    </section>
    <section class="section-bottom">
        <br /><br /><h2>Office Floor Plans</h2><br /><br />
        <div class="col-md-12 gallery-img-12">
            <div class="row">
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/office-floor-plan.jpg") data-title="Office Space Floor Plans" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/office-floor-plan.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/office-vip-floorplan.jpg") data-title="Office Space Floor Plans" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/office-vip-floorplan.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-br">

                </div>
                <div class="col-md-3 gallery-sm-img-br">

                </div>
            </div>
        </div>
    </section>
    <section class="section-bottom">
        <br /><br /><h2>Convention Center Floor Plan</h2><br /><br />
        <div class="col-md-12 gallery-img-12">
            <div class="row">
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/lvl-1-convention-center.jpg") data-title="Convention Center Floor Plan" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/lvl-1-convention-center.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-bl hovereffect">

                    <a href=@Url.Content("~/Static/img/gallery/lvl-3-floor-plan.jpg") data-title="Convention Center Floor Plan" data-lightbox="all" class="">
                        <img src=@Url.Content("~/Static/img/gallery/lvl-3-floor-plan.jpg") alt="Post Oak Overview" class="img-responsive" />
                        <span></span>
                    </a>

                </div>
                <div class="col-md-3 gallery-sm-img-br">

                </div>
                <div class="col-md-3 gallery-sm-img-br">

                </div>
            </div>
        </div>
    </section>
</div>