<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" description="EPiServer Forms" tags=" EPiServerModulePackage EPiServerAddon EPiServer Forms " productName="EPiServer Forms ServiceApi" version="2.0.0.3">
  <assemblies>
    <add assembly="EPiServer.Forms.ServiceApi" />
  </assemblies>
</module>